<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{user.username}} working page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'electronic_service/employee_main_page_style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
</head>
<body>
<div class="top_div">
    <div class="logo_img">
        <a href="{% url 'electronic_service:index' %}" title="Main page">
            <img src="{% static 'resources/logo_white.png' %}">
        </a>
        <div style="margin-left: 30px">
            TrollIT employee
        </div>
    </div>

    {% if user.is_authenticated %}
    <div class="user_info_col">
        Hi {{ user.username }}!<br>
        <a href="{% url 'logout' %}">Log Out</a>

    </div>
    {% endif %}
</div>

<div class="color_scheme_1" style="margin-top: calc(50px + 9vh);">
    <div class="employee_data_row">
        <a href=""><img src="{% static 'resources/client_icon.png' %}"><br>See all clients</a>
    </div>
    <div class="employee_data_row">
        <a href=""><img src="{% static 'resources/request_icon.png' %}"><br>See all service requests</a>
    </div>
    <div class="employee_data_row">
        <a href=""><img src="{% static 'resources/hardware_icon.png' %}"><br>See all devices</a>
    </div>
    <div class="employee_data_row">
        <a href=""><img src="{% static 'resources/broken_hardware_icon.png' %}"><br>See all hardware faults</a>
    </div>
    <div class="employee_data_row">
        <a href=""><img src="{% static 'resources/parts_icon.png' %}"><br>See all spare parts</a>
    </div>
    <div class="employee_data_row">
        <a href=""><img src="{% static 'resources/employee_icon.png' %}"><br>Edit your account</a>
    </div>

    <!--    <a>See your specializations</a> ADD THIS TO EMPLOYE PROFILE PANEL-->
</div>
<footer>
    Made by Dariusz Rzeźnik 2022<br>
</footer>
</body>
</html>