<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{user.username}} working page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'electronic_service/index_style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
</head>
<body>
<div class="top_div">
    <div class="logo_img">
        <a href="{% url 'electronic_service:index' %}" title="Main page">
            <img src="{% static 'resources/logo_white.png' %}">
        </a>
        <div style="margin-left: 30px">
            TrollIT employee
        </div>
    </div>

    {% if user.is_authenticated %}
    <div class="user_info_col">
        Hi {{ user.username }}!<br>
        <a href="{% url 'logout' %}">Log Out</a>
        <a href="{% url 'electronic_service:profile' %}">My account</a>
    </div>

    {% else %}
    <div class="user_info_col">
        You are not logged in<br>

        <a href="{% url 'login' %}">Log In </a>
        or
        <a href="{% url 'account:signup' %}"> Signup</a>
    </div>
    {% endif %}
</div>

<div class="color_scheme_1" style="margin-top: 110px">
  WIP
</div>

</body>
</html>