<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New service request</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'electronic_service/make_request_style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
</head>
<body>
<div class="top_div">
    <div class="logo_img">
        <a href="{% url 'electronic_service:index' %}" title="Main page">
            <img src="{% static 'resources/logo_white.png' %}">
        </a>
        <div style="margin-left: 30px">
            TrollIT
        </div>
    </div>
</div>

<div class="color_scheme_1" style="margin-top: 110px">
    <strong>Step I:</strong>
    <div>
        Enter your residential place data
    </div>
    <form action="{% url 'electronic_service:make_request_result' %}" method="post">
        {% csrf_token %}
        <fieldset>
            {% if error_message %}<p>{{ error_message }}</p>{% endif %}
            <div class="request_data_row">Street name and house number:</div>
            <input type="text" name="F_street_number" placeholder="Street and house number" required><br>
            <div class="request_data_row">City name:</div>
            <input type="text" name="F_city" placeholder="City" required><br>
            <div class="request_data_row">ZIP code of the city:</div>
            <input type="text" name="F_ZIP_code" placeholder="ZIP-code" required><br>

        </fieldset>
        <input type="submit" value="continue" style="font-size: 25px">
    </form>
</div>

</body>
</html>