<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'base_style1.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
</head>
<body>
  <div class="top_div">
    <div class="logo_img">
        <a href="{% url 'electronic_service:index' %}" title="Main page">
            <img src="{% static 'resources/logo_white.png' %}">
        </a>
        <div style="margin-left: 30px">
            TrollIT
        </div>
    </div>

  </div>

  <div class="login_singup_register_container">
<!--      <button onclick="darkModeToggle()">Dark mode</button><br>-->
    {% block content %}
    {% endblock %}
  </div>

    <script>
        function darkModeToggle() {
            const collection = document.getElementsByClassName("login_singup_register_container");
            for (let i = 0; i < collection.length; i++) {
                collection[i].classList.toggle("dark-mode_login_singup_register_container");
            }
            const top_div = document.getElementsByClassName('top_div');
            for (let i = 0; i < top_div.length; i++) {
                top_div[i].classList.toggle("dark-mode_top_div")
            }
            var body_BG = document.querySelector('body')
            body_BG.classList.toggle('dark-mode_body')
        }
    </script>

</body>
</html>