<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{user.username}} profile</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'electronic_service/user_profile_style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
</head>
<body>
    <div class="top_div">
        <div class="logo_img">
            <a href="{% url 'electronic_service:index' %}" title="Main page">
                <img src="{% static 'resources/logo_white.png' %}">
            </a>
            <div style="margin-left: 30px">
                TrollIT
            </div>
        </div>
    </div>
    <div class="color_scheme_1" style="margin-top: 110px">
        <div>
            <strong>{{user_client.name}} {{user_client.surname}} account:</strong>
        </div>
        <div class="user_data_row">
            <div class="data_column">
                Name:
            </div>
            <div>
                {{ user_client.name }}
            </div>
        </div>
        <div class="user_data_row">
            <div class="data_column">
                Surname:
            </div>
            <div>
                {{ user_client.surname }}
            </div>
        </div>
        <div class="user_data_row">
            <div class="data_column">
                Login:
            </div>
            <div>
                {{ user_client.login }}
            </div>
        </div>
        <div class="user_data_row">
            <div class="data_column">
                E-mail:
            </div>
            <div>
                {{ user_client.email }}
            </div>
        </div>
        <div class="user_data_row">
            <div class="data_column">
                Phone number:
            </div>
            <div>
                {{ user_client.phone_number }}
            </div>
        </div>
        <div style="font-size: 30px; display: flex; justify-content: center; flex-wrap: wrap">
            <a href="{% url 'electronic_service:profile_edit' %}" style="color: white;
            background-color: rgb(25, 27, 179); padding: 5px; margin: 5px 5px 5px 5px">Edit your profile</a>
            <a href="{% url 'password_reset' %}" style="color: white;
            background-color: rgb(25, 27, 179); padding: 5px; margin: 5px 5px 5px 5px">Change your password</a>
        </div>
    </div>

    <div class="color_scheme_1">
        <div style="display: flex; justify-content: center; justify-content: space-between; margin: 5px 5px 5px 5px">
            My repairs:

        </div>

        <div>
            {% if service_request_list %}
                {% for s_r in service_request_list %}
                    <li>Serwice request from: {{s_r.get_date_to_client |date:"j-n-Y G:i:s"}}</li>
                {% endfor %}
                <div style="margin-top: 15px; margin-bottom: 5px">
                    <a href="{% url 'electronic_service:make_request' %}" style="color: white; background-color: rgb(25, 27, 179); padding: 3px">Add another service request</a>
                </div>
            {% else %}
                You don't have any service requests <a href="{% url 'electronic_service:make_request' %}" style="color: white; background-color: rgb(25, 27, 179); padding: 3px">Add one now!</a>
            {% endif %}
        </div>
    </div>

</body>
</html>